.css1
{
    height: 30em;
    width: 22em;
    box-shadow: 2px;
    margin-left: 40%;
    margin-top: 0%;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(100,156,156);
    background-image: url('boy2.gif');
}

